{% extends "faqarticle.html" %}
{% load translate %}

{% block faqarticlecontent %}
    {% include "content.html" with name="widget mail intro" %}
    <h2><label for="html-block">HTML</label></h2>
    <div>
    <textarea id="html-block" readonly>&lt;form class=&quot;internetstandards&quot; action=&quot;https://internet-standards.de/mail/&quot; method=&quot;POST&quot;&gt;
  &lt;img class=&quot;internetstandards&quot; src=&quot;https://internet-standards.de/static/logo_en.svg&quot; alt=&quot;Ist Ihr Internet auf dem neuesten Stand?&quot;/&gt;
  &lt;strong&gt;Testen Sie Ihre E-Mail&lt;/strong&gt;
  &lt;div&gt;
    &lt;label for=&quot;internetstandards-mail-url&quot;&gt;Ihre E-Mail Adresse:&lt;/label&gt;
    &lt;div class=&quot;internetstandards emailfield&quot;&gt;
      &lt;input id=&quot;internetstandards-mail-url&quot; type=&quot;text&quot; inputmode=&quot;url&quot; name=&quot;url&quot; placeholder=&quot;example.com&quot;&gt;
    &lt;/div&gt;
    &lt;button class=&quot;internetstandards&quot;&gt;Test starten&lt;/button&gt;
  &lt;/div&gt;
&lt;/form&gt;</textarea>
    </div>
    <h2><label for="css-block">CSS</label></h2>
    <textarea id="css-block" readonly>form.internetstandards {
  font-family: Helvetica, Arial, sans-serif;
}
img.internetstandards {
  max-width: 100%;
  height: auto;
  float: none;
  clear: both;
  display: block;
  margin-bottom: 1em;
}
button.internetstandards:hover {
    cursor: pointer;
}
button.internetstandards:hover,
button.internetstandards:focus,
button.internetstandards:active {
    background: #990e5a;
}
button.internetstandards {
  display: block;
  margin: 1em 0 1em;
  background: #e5007d;
  border: 0;
  font-weight: bold;
  font-size: 100%;
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: #fff;
  cursor: pointer;
}

div.internetstandards.emailfield {
  display: inline-block;
} 
div.internetstandards.emailfield:before {
  content: "@";
  background: #eee;
  width: 20px;
  float: left;
  text-align: center;
  height: 100%;
  overflow: hidden;
  padding: 2px 0;
}</textarea>
    {% include "content.html" with name="widget content notes" %}
{% endblock %}
